
/* CONTENT FORMATTING */
main{
    margin: 0 40px;
    justify-content: space-between;
}
/* CONTENTS AND AREAS */
#content1{
    width: 100%;
    min-width: 456px;
    max-width: 850px;
    background-color: #ffffff;
}
#area1{
    width: 615px;
    height: 289px;
}
/* FORM */
#personal_data, #site_data{
    display: inline;
}
#name, #info, select{
    text-transform: capitalize;
}
#radio_area input{
    margin-top: 0; 
}
#email, #info{
    width: 95%;
}
#radio_area{
    margin-top: 10px;
    align-items: center;
}
/* STUDY GROUP */
#study_group{
    width: 300px;
    align-items: center;
    background-color: #ffffff;
}
#study_group img{
    margin-top: 27px;
}
/* INSTAGRAM */
#instagram{
    height: 125px;
}
#instagram section{
    padding: 12px;
}
#instagram section p:first-child{
    margin-bottom: 6px;
}
/* EXTRA AREA */
#extra{
    height: 35px;
    line-height: 35px;
    text-align: center;
}
/* SAME ATTRIBUTES */
main, #content1, #radio_area, #area2, #study_group, #instagram{
    display: flex;
}
#content1, #study_group{
    flex-direction: column;
    justify-content: space-between;
}
#instagram, #extra{
    width: 300px;
    color: #ffffff;
    background-color: #063C53;
}